@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #eab633;
  --secondary-color: #3c454c;

  --dark-grey: #222222;
  --medium-grey: #d9d9d9;
  --light-grey: #eee;

  --white: #ffffff;
  --red: #e63636;
}

@layer components {
  * {
    @apply p-0 m-0 decoration-0 list-none box-border;
  }

  html {
    @apply bg-(--secondary-color) scroll-smooth font-[Roboto];
  }

  /* GLOBAL STYLES */
  .container {
    @apply max-w-80 md:max-w-3xl lg:max-w-7xl mx-auto my-0;
  }

  .container-960 {
    @apply max-w-4xl mx-auto my-0;
  }

  .flex {
    @apply flex items-center flex-col md:flex-row;
  }

  .btn-default {
    @apply rounded-lg lg:rounded-xl transition-all py-3 lg:py-4 px-4 lg:px-6 uppercase font-semibold cursor-pointer;
  }

  .btn-primary {
    @apply bg-(--primary-color) text-(--white) hover:bg-(--secondary-color) hover:text-(--primary-color);
  }

  .btn-secondary {
    @apply bg-(--white) text-(--secondary-color) hover:bg-(--secondary-color) hover:text-(--primary-color);
  }

  .btn-tertiary {
    @apply bg-(--primary-color) text-(--white) hover:bg-(--white) hover:text-(--primary-color);
  }
}
