---
import "../styles/global.css";
import faviconBarBaridade from "../assets/id/favicon-bar-baridade-180x180.png";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href=`${faviconBarBaridade.src}` />
    <meta name="generator" content={Astro.generator} />
    <title>Bar-Baridade | {pageTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
